<div class="addCalendar">
	<form class="calendarSubmit">
		<div class="fields">

			<input type="text" name="eventName" placeholder="Event Name" data-role="none"/>
			<div class="input startDate" data-role="none">Start</div>
			<div class="input endDate" data-role="none">End</div>
			<!--<input type="text" placeholder="Repeat" name="eventName"/>-->
			<div class="colorSelection input" data-role="none">Color Label <span></span>

				<div class="selection">
					<span class="yellow"></span>
					<span class="purple"></span>
					<span class="green"></span>
					<span class="pink"></span>
					<span class="orange"></span>
					<span class="grey"></span>
				</div>
			</div>
			<textarea placeholder="Description" name="description" data-role="none"></textarea><br/>

			<select name="alert">
				<option value="0">No Alert</option>
				<option value="1">Bird </option>
				<option value="2">Typing </option>
				<option value="2">People </option>
				<option value="2">Sex </option>
				<option value="2">Ghost </option>
				<option value="2">Dying </option>
			</select>


		</div>
	</form>

	<div class="button">
		<div class="mainButton submit">Save</div>
	</div>
</div>