<div class="addCalendar">
	<form class="calendarSubmit">
		<div class="fields">

			<input type="text" name="eventName" placeholder="Event Name" data-role="none"/>

			<div class="input startDate" data-role="none">Start</div>
			<div class="input endDate" data-role="none">End</div>
			<!--<input type="text" placeholder="Repeat" name="eventName"/>-->
			<div class="colorSelection input" data-role="none">Color Label <span></span>

				<div class="selection">
					<span class="yellow"></span>
					<span class="purple"></span>
					<span class="green"></span>
					<span class="pink"></span>
					<span class="orange"></span>
					<span class="grey"></span>
				</div>
			</div>
			<textarea placeholder="Description" name="description" data-role="none"></textarea><br/>

			<select name="alert">
				<option value="0">No Alert</option>
				<option value="34">Good morning</option>
				<option value="35">Make bed</option>
				<option value="36">Get Dress</option>
				<option value="37">Eat breakfast</option>
				<option value="38">Brush teeth</option>
				<option value="39">Ready for school</option>
				<option value="40">Put on pajamas</option>
				<option value="41">use potty</option>
				<option value="42">Story time</option>
				<option value="43">Good night</option>
				<option value="44">Bed time story</option>
				<option value="45">Collect toys</option>
				<option value="46">Going to school</option>
				<option value="47">Watering flowers</option>
				<option value="48">Pick up toys</option>
				<option value="49">Packing for school</option>
				<option value="50">Sweep</option>
				<option value="51">Set table</option>
				<option value="52">Feed pet</option>
				<option value="53">Vacuum</option>
				<option value="54">Water plants</option>
				<option value="55">Clean table</option>
				<option value="56">Clean bedroom</option>
				<option value="57">Put shoes away</option>
				<option value="58">Help with laundry</option>
				<option value="59">Clean the sink</option>
				<option value="60">Take a bath</option>
				<option value="61">Homework time</option>
				<option value="62">Grocery shopping</option>
				<option value="63">Church</option>
				<option value="64">Have some snacks</option>
				<option value="65">Eat lunch</option>
				<option value="66">Take a nap</option>
				<option value="67">Outdoor play time</option>
				<option value="68">Game time</option>
				<option value="69">Watch TV</option>
				<option value="70">Fun time</option>
				<option value="71">Exercise</option>
				<option value="72">Practice music</option>
				<option value="73">Drawing time</option>
				<option value="74">Reading time</option>
				<option value="75">Eat dinner</option>
				<option value="76">Reading</option>
				<option value="77">Study</option>
				<option value="78">Play</option>
				<option value="79">See you tomorrow</option>
				<option value="80">Good Afternoon</option>
				<option value="81">Take a bath</option>
				<option value="82">Clean room</option>
				<option value="83">Family time</option>
				<option value="84">Mom is home</option>
				<option value="85">Dad is home</option>
				<option value="86">Take a break</option>
				<option value="87">Move your body</option>
				<option value="88">Find some shade</option>
				<option value="89">Get sunshine</option>
				<option value="90">Class starts</option>
				<option value="91">lunch time</option>
				<option value="92">dinner time</option>


			</select>


<!--
			<ul data-role="listview" data-filter="true" data-filter-reveal="true" data-filter-placeholder="Search cars...">
				<li><a href="#">Acura</a></li>
				<li><a href="#">Audi</a></li>
				<li><a href="#">BMW</a></li>
				<li><a href="#">Cadillac</a></li>
				<li><a href="#">Chrysler</a></li>
				<li><a href="#">Dodge</a></li>
				<li><a href="#">Ferrari</a></li>
				<li><a href="#">Ford</a></li>
				<li><a href="#">GMC</a></li>
				<li><a href="#">Honda</a></li>
				<li><a href="#">Hyundai</a></li>
				<li><a href="#">Infiniti</a></li>
				<li><a href="#">Jeep</a></li>
				<li><a href="#">Kia</a></li>
				<li><a href="#">Lexus</a></li>
				<li><a href="#">Mini</a></li>
				<li><a href="#">Nissan</a></li>
				<li><a href="#">Porsche</a></li>
				<li><a href="#">Subaru</a></li>
				<li><a href="#">Toyota</a></li>
				<li><a href="#">Volkswagen</a></li>
				<li><a href="#">Volvo</a></li>
			</ul>
-->


		</div>
	</form>

	<div class="button">
		<div class="mainButton submit">Save</div>
	</div>
</div>