<!-- Sign up template -->
<div class="pageCover deviceInfoPage">

	<div class="deviceInfo hideToRight">

		<div class="pageTitle">WHO WARE THE SWING WATCH</div>

		<form method="get">
			<div class="errorMessage"></div>

			<div class="profileImageContainer">
				<div class="profileImage">
					<img/>
				</div>
			</div>

			<input type="text" class="mainInput" name="kidFirstName" placeholder="First Name" data-role="none"/>
			<input type="text" class="mainInput" name="kidLastName" placeholder="Last Name" data-role="none"/>
			<input type="text" class="mainInput" name="kidNickName" placeholder="Nick Name" data-role="none"/>
			<!--<input type="text" class="mainInput" name="kidBirthday" placeholder="Birthday" data-role="none"/>-->
		</form>

		<div class="deviceInformation">

		</div>

		<div class="deviceList">

		</div>

		<div id="debug" style="font-size: 0.8em; background-color: white; width: 250px;">

		</div>
	</div>


</div>
