<!-- Sign up template -->
<div class="pageCover searchingPage">

	<div class="searching hideToRight">
		<div class="pageTitle" id="deviceDebug">SEARCHING...</div>
	</div>

	<div class="noFoundDevice hideToRight">
		<div class="pageTitle">SORRY!</div>
		<div class="text">We couldn't find your swing watch. Please make sure your watch is near by.</div>

		<div class="mainButton searchAgain">Search Again</div>
		<a href="#" onclick="window.open('http://kidsdynamic.com/', '_system');"><div class="mainButton contactUs">Contact Us</div></a>
		<div class="mainButton loginAnyway">Login Anyway</div>
	</div>


</div>
