<!-- Sign up template -->
<div class="pageCover signUpPage">

	<div class="signUp hideToRight">
		<form method="get">
			<div class="errorMessage"></div>

<!--			<div class="profileImageContainer">
				<div class="profileImage">
					<img/>
				</div>
			</div>-->

			<input type="text" class="mainInput" name="firstName" placeholder="First Name" data-role="none"/>
			<input type="text" class="mainInput" name="lastName" placeholder="Last Name" data-role="none"/>
			<input type="number" class="mainInput" name="phoneNumber" placeholder="Phone Number" data-role="none"/>
			<input type="number" class="mainInput" name="zipCode" placeholder="Zip Code" data-role="none"/>
		</form>
	</div>


</div>
