<!-- Sign up template -->
<div class="pageCover swingWatchPage">

	<div class="swingWatch hideToRight">
		<div class="pageTitle">DO YOU HAVE SWING WATCH?</div>

		<div class="mainButton yes">Yes</div>
		<div class="mainButton no">No</div>
	</div>

	<div class="purchaseWatch hideToRight">
		<div class="pageTitle">WOULD YOU LIKE TO PURCHASE ONE?</div>

		<a href="#" onclick="window.open('http://kidsdynamic.com/', '_system');"><div class="mainButton yesPurchase">Yes, please</div></a>
		<div class="mainButton noPurchase">Continue using APP</div>
	</div>


</div>
