/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
  font-family: vaground;
  src: url(font/vaground.ttf); }

@font-face {
  font-family: avenir;
  src: url(font/AvenirNextLTPro-Regular.otf); }

* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #fcfcfc;
  font-family: avenir, Georgia, "Times New Roman", serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%; }

body.ui-overlay-a {
  background-color: #fcfcfc;
  border-color: #fcfcfc;
  color: black; }

input {
  font-size: 16px; }

/* Portrait layout (default) */
.app {
  position: absolute;
  /*position in the center of the screen*/
  left: 50%;
  top: 30%;
  height: 50px;
  /*text area height*/
  width: 225px;
  /*text area width*/
  text-align: center;
  /* padding:180px 0px 0px 0px;      image height is 200px (bottom 20px are overlapped with text) */
  margin: -115px 0px 0px -112px;
  /*offset vertical: half of image height and text area height*/
  /*offset horizontal: half of text area width*/ }

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px;
    /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */ } }

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center; }

.none {
  display: none; }

.event {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px; }

.event.listening {
  background-color: #333333;
  display: block; }

.event.received {
  background-color: #4B946A;
  display: none; }

.fleft {
  float: left; }

.fright {
  float: right; }

@keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }

@-webkit-keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }

.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite; }

div.navigater {
  height: 35px;
  color: darkgrey;
  font-size: 24px;
  background-color: lightgrey;
  margin-top: 18px; }
  div.navigater > div {
    margin-left: 5px; }

.close {
  clear: both; }

.mainTitle {
  font-weight: bold;
  color: black;
  margin: 20px; }

.mainText {
  color: #2EB8B8; }

.mainEdit label {
  color: #2EB8B8; }

.mainEdit input {
  border: none;
  margin-bottom: 10px;
  border-bottom: solid 1px black;
  padding: 10px 0px 5px 5px;
  width: 100%; }

.mainRadio input {
  border: none;
  margin-bottom: 10px;
  border-bottom: solid 1px black;
  padding: 10px 0px 5px 5px; }

*:focus {
  outline: 0; }

* {
  text-shadow: none !important; }

.disable {
  color: #ABABAB; }

.mainButton {
  font-family: avenir, Georgia, "Times New Roman", serif;
  background-color: #1a1738;
  padding: 5px;
  margin: 15px 0 15px 0;
  border-radius: 5px;
  color: white;
  font-size: 16px; }

.backButton {
  font-family: vaground, Georgia, "Times New Roman", serif;
  color: #1a1738;
  font-size: 20px;
  position: absolute;
  top: 30px;
  left: 10px; }

.secondaryButton {
  background-color: white;
  padding: 5px;
  margin: 15px 0 15px 0;
  border-radius: 3px;
  color: black;
  border: 1px solid black; }

.buttons {
  float: left; }

div.inputBox {
  background-color: white;
  border-radius: 5px; }

div.scheduleMenu {
  padding: 10px; }

div.closeBox {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100px;
  height: 150px; }

.ui-overlay-a {
  background-color: white;
  border-color: white;
  color: white;
  text-shadow: none; }

#deviceready {
  text-align: center;
  width: 100%; }

div.mainError {
  color: palevioletred;
  font-size: 14px; }

div.template {
  display: inline-block;
  display: none; }

div.bluetooth div.container {
  color: #2EB8B8; }

.textCenter {
  text-align: center; }

div.wrap {
  border: 2px solid rgba(255, 255, 255, 0.5);
  height: 100px;
  width: 100px;
  border-radius: 50%; }

/*
input::-webkit-input-placeholder {
	color: rgba(0,5,143,.8);
}
*/
input.mainInput {
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  background-color: #1a1738;
  color: white;
  width: 92%;
  margin: 8px 0; }

/** Dailog **/
div.dialog {
  display: none;
  position: absolute;
  top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%; }

div.form div {
  margin-top: 5px;
  margin-bottom: 5px; }

div.previousPage {
  background-color: lightgrey;
  padding: 2px; }
  div.previousPage div.backButton div.arrowLeft {
    position: relative;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #a7a9ac;
    margin: 40px 0 8px 10px; }
    div.previousPage div.backButton div.arrowLeft div.block {
      width: 40px;
      height: 16px;
      top: -8px;
      left: 8px;
      position: absolute;
      background-color: #a7a9ac; }

/************ Index page ***************/
div.indexPage {
  background: #fcfcfc url("../img/background/city_trans-01.png") 0 100% repeat-x;
  background-size: 800px;
  margin-top: 80px;
  /********* Role Choose ***********/
  /************ Searching **********/ }
  div.indexPage div.pageTitle {
    font-size: 20px;
    font-family: vaground, Georgia, "Times New Roman", serif; }
  div.indexPage div.indexOptions {
    position: relative; }
    div.indexPage div.indexOptions > div {
      padding: 20px 30px;
      text-align: center; }
  div.indexPage div.separateLine div.text {
    position: absolute;
    left: 46.5%; }
  div.indexPage div.separateLine hr {
    width: 25%; }
    div.indexPage div.separateLine hr.leftHr {
      margin: 10px 5px 10px 20px; }
    div.indexPage div.separateLine hr.rightHr {
      margin: 10px 20px 10px 5px;
      float: right; }
  div.indexPage div.pageCover {
    position: absolute;
    top: 0; }
  div.indexPage div.signInButtons {
    position: relative;
    margin-top: 35px; }
    div.indexPage div.signInButtons div.facebookButton {
      margin-bottom: -8px; }
    div.indexPage div.signInButtons div.signUpText {
      font-size: 14px; }
  div.indexPage div.signButtons {
    position: relative; }
  div.indexPage div.hideToRight {
    position: relative;
    top: 0;
    left: 150%; }
  div.indexPage div.chooseRole, div.indexPage div.swingWatch, div.indexPage div.purchaseWatch {
    width: 250px; }
    div.indexPage div.chooseRole div.separateLine hr, div.indexPage div.swingWatch div.separateLine hr, div.indexPage div.purchaseWatch div.separateLine hr {
      width: 23%;
      margin-top: 8px; }
    div.indexPage div.chooseRole div.separateLine div.text, div.indexPage div.swingWatch div.separateLine div.text, div.indexPage div.purchaseWatch div.separateLine div.text {
      font-size: 12px;
      left: 36.5%; }
  div.indexPage div.purchaseWatch {
    top: -150px; }
  div.indexPage div.searchingPage div.hideToRight {
    width: 250px; }
  div.indexPage div.searching {
    margin-top: 50px; }
  div.indexPage div.noFoundDevice {
    margin-top: -50px; }

/************ Login Option Page ***************/
body.ruleOption div.whiteCover {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); }

body.ruleOption img {
  width: 100%; }

div.loginOption {
  margin: 0px 0px 0px -112px;
  top: 39%; }
  div.loginOption div.options div.option {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    position: relative;
    left: 5px;
    top: 5px;
    background-color: white; }
  div.loginOption div.options div.ruleText {
    position: relative;
    top: 39%;
    color: #424242;
    font-size: 18px;
    font-weight: bold; }
  div.loginOption div.options div.wrap.parent {
    float: left; }
  div.loginOption div.options div.wrap.nanny {
    float: right; }

/*************** Header ****************/
#headerBar {
  background-color: #fafafa;
  border-bottom: 1px solid #979697;
  font-family: vaground, Georgia, "Times New Roman", serif;
  text-align: center;
  padding: 23px 0 8px 0;
  font-size: 18px; }

div.header {
  height: 35px;
  background-color: #00aeef;
  padding-top: 20px; }
  div.header div.mainMenuButton {
    position: relative;
    width: 35px;
    padding-top: .9em; }
    div.header div.mainMenuButton div.whiteLine {
      background-color: white;
      width: 100%;
      height: 3px;
      margin-left: 10px;
      margin-bottom: 3px; }

div.placeholder {
  width: 100%;
  text-align: center; }
  div.placeholder.map {
    height: 240px;
    background-color: gainsboro; }

/*************** Bottom Menu ****************/
div.menu.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fafafa;
  z-index: 1000;
  border-top: 1px solid #979697; }
  div.menu.bottom > div {
    float: left;
    height: 50px;
    width: 20%; }
    div.menu.bottom > div.mapPageIcon {
      background: url("../img/menu/navi_icons_map.svg") no-repeat 50%; }
    div.menu.bottom > div.calendarPageIcon {
      background: url("../img/menu/navi_icons_calendar.svg") no-repeat 50%; }
    div.menu.bottom > div.chartPageIcon {
      background: url("../img/menu/navi_icons_chart.svg") no-repeat 50%; }
    div.menu.bottom > div.mailPageIcon {
      background: url("../img/menu/navi_icons_mail.svg") no-repeat 50%; }
    div.menu.bottom > div.profilePageIcon {
      background: url("../img/menu/navi_icons_profile.svg") no-repeat 50%; }
    div.menu.bottom > div.mapPageIcon.active {
      background: #191638 url("../img/menu/navi_icons_map_selected.svg") no-repeat 50%; }
    div.menu.bottom > div.calendarPageIcon.active {
      background: #191638 url("../img/menu/navi_icons_calendar_selected.svg") no-repeat 50%; }
    div.menu.bottom > div.chartPageIcon.active {
      background: #191638 url("../img/menu/navi_icons_chart_selected.svg") no-repeat 50%; }
    div.menu.bottom > div.mailPageIcon.active {
      background: #191638 url("../img/menu/navi_icons_mail_selected.svg") no-repeat 50%; }
    div.menu.bottom > div.profilePageIcon.active {
      background: #191638 url("../img/menu/navi_icons_profile_selected.svg") no-repeat 50%; }

/*************** Device List ****************/
div.deviceList {
  text-align: center; }
  div.deviceList div.eachDevice {
    padding: 10px;
    margin: 5px;
    font-size: 12px;
    line-height: 20px;
    color: black; }
    div.deviceList div.eachDevice a {
      color: black; }
    div.deviceList div.eachDevice div.deviceIcon {
      height: 60px;
      width: 40px;
      margin: 4px;
      padding-left: 10px; }
    div.deviceList div.eachDevice div.deviceInfo {
      position: relative;
      left: 30px; }
    div.deviceList div.eachDevice div.battery {
      position: relative;
      top: 20px; }

/******************* Bluetooth *************/
div.eachCharacter {
  color: white;
  margin: 10px; }
  div.eachCharacter div.devicedata {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 25px;
    transition: border-color 1.5s;
    margin-top: 3px; }
    div.eachCharacter div.devicedata span {
      position: relative;
      top: 18px; }

.ui-panel-wrapper {
  min-height: 0;
  background-color: white; }

.ui-content {
  padding: 0; }

.ui-panel-inner {
  padding: 0;
  width: 100%; }

.ui-focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.ui-btn-active {
  background-color: #3F3F3F !important;
  border-color: #7C7C7C !important;
  color: #fff !important;
  text-shadow: 0 1px 0 #7C7C7C; }

.ui-page-theme-a {
  text-shadow: none !important;
  background-color: white !important; }

a:link {
  text-shadow: none;
  color: #000000; }

a:visited {
  color: #000000; }

a:hover {
  color: #000000; }

a:active {
  color: #000000; }

#deviceDetail {
  background-color: #58585a;
  color: white; }
  #deviceDetail div.switch {
    text-align: center;
    padding: 15px 0 0 0; }

/***************** Main Menu **************/
#menuPanel {
  background-color: #58585a;
  color: white;
  text-shadow: none;
  line-height: 25px; }
  #menuPanel div.menuHeader {
    height: 13em;
    text-align: center; }
    #menuPanel div.menuHeader div.container {
      display: inline-block;
      padding-top: 2em; }
      #menuPanel div.menuHeader div.container div.profileImage {
        display: inline-block; }
        #menuPanel div.menuHeader div.container div.profileImage img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-color: white; }
      #menuPanel div.menuHeader div.container div.viewAccount {
        font-size: 10px; }
  #menuPanel div.options {
    padding: 2em;
    line-height: 40px; }
    #menuPanel div.options div.option {
      font-size: 15px; }

/******************* Near By ******************/
div.nearbyPage div.topSlogan {
  padding: 0 20px;
  margin: 15px 0; }
  div.nearbyPage div.topSlogan div.title {
    font-weight: bold; }

div.nearbyPage input.zipcode {
  border: 1px solid grey;
  padding: 10px;
  margin: 10px;
  background-color: transparent !important; }

div.nearbyPage div.input {
  border: 1px solid grey;
  padding: 10px;
  margin: 10px; }

div.nearbyPage div.section {
  padding: 0 1em; }

div.nearbyPage div.mainButton {
  display: inline-block;
  width: 10em; }

div.nearbyPage div.sexSelection fieldset div.ui-controlgroup-controls {
  width: 100%; }
  div.nearbyPage div.sexSelection fieldset div.ui-controlgroup-controls div.ui-radio {
    width: 50%; }

div.nearbyPage .containing-element .ui-slider-switch {
  width: 9em; }

/****************** Nearby search result **********************/
div.scheduleSearchResult div.eachNearby {
  position: relative;
  padding: 15px; }
  div.scheduleSearchResult div.eachNearby div.price {
    text-align: center;
    background-color: lightcoral;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    left: 7px; }
    div.scheduleSearchResult div.eachNearby div.price span {
      color: white;
      top: 7px;
      position: relative;
      font-size: 12px; }
  div.scheduleSearchResult div.eachNearby div.userProfile {
    width: 80px;
    height: 80px;
    background-color: black;
    float: left;
    border-radius: 50%; }
  div.scheduleSearchResult div.eachNearby div.userInfo {
    float: left;
    margin-left: 15px;
    line-height: 25px; }
  div.scheduleSearchResult div.eachNearby div.dateRange {
    position: absolute;
    right: 20px;
    height: 75px;
    color: white; }
    div.scheduleSearchResult div.eachNearby div.dateRange > div {
      border: 1px solid black;
      padding: 3px;
      font-size: 10px; }
    div.scheduleSearchResult div.eachNearby div.dateRange div.startDate {
      background-color: #00aeef; }
    div.scheduleSearchResult div.eachNearby div.dateRange div.endDate {
      bottom: 0;
      position: absolute;
      background-color: #3d81ef; }

div.scheduleSearchResult #userDetail {
  background-color: #f9f9f9; }
  div.scheduleSearchResult #userDetail div.sectionBorder {
    margin-top: 40px;
    box-shadow: 0 8px 5px -2px lightgray; }
  div.scheduleSearchResult #userDetail div.user {
    position: relative;
    padding: 10px; }
    div.scheduleSearchResult #userDetail div.user div.userProfile {
      width: 100px;
      height: 100px;
      background-color: black;
      border-radius: 50%;
      float: left; }
    div.scheduleSearchResult #userDetail div.user div.userInfo {
      float: left;
      margin-left: 8px;
      line-height: 24px; }
    div.scheduleSearchResult #userDetail div.user div.price {
      text-align: center;
      background-color: lightcoral;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      position: absolute;
      top: 8px;
      left: 3px; }
      div.scheduleSearchResult #userDetail div.user div.price span {
        color: white;
        top: 7px;
        position: relative;
        font-size: 12px; }
    div.scheduleSearchResult #userDetail div.user div.note {
      word-wrap: break-word; }
    div.scheduleSearchResult #userDetail div.user div.chat {
      margin-top: 20px; }
      div.scheduleSearchResult #userDetail div.user div.chat div.chatBox {
        border: 1px solid #d3d3d3;
        width: 100%;
        height: 100px;
        overflow-y: auto;
        background-color: white;
        padding: 5px 0; }
        div.scheduleSearchResult #userDetail div.user div.chat div.chatBox div {
          margin: 3px; }
          div.scheduleSearchResult #userDetail div.user div.chat div.chatBox div span {
            padding: 4px;
            border-radius: 3px; }
          div.scheduleSearchResult #userDetail div.user div.chat div.chatBox div.alignRight {
            text-align: right; }
            div.scheduleSearchResult #userDetail div.user div.chat div.chatBox div.alignRight span {
              background-color: #00d4b4; }
          div.scheduleSearchResult #userDetail div.user div.chat div.chatBox div.alignLeft span {
            background-color: #61abd4; }
      div.scheduleSearchResult #userDetail div.user div.chat div.submit {
        text-align: center; }

/******************** Feedback ***********************/
div.feedbackPage div.container {
  margin-top: 10px;
  padding: 10px; }
  div.feedbackPage div.container div.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0; }
  div.feedbackPage div.container hr {
    margin-top: 20px;
    width: 90%; }
  div.feedbackPage div.container div.mainButton {
    display: inline-block; }

/******************** UpdateProfile Page ***********************/
div.profilePage label {
  display: inline-block; }

div.profilePage div.container {
  padding: 10px; }

div.profilePage div.mainRadio {
  text-align: center; }

div.profilePage div.profileImageContainer {
  text-align: center;
  width: 100%; }
  div.profilePage div.profileImageContainer div.profileImage {
    display: inline-block; }
    div.profilePage div.profileImageContainer div.profileImage img {
      width: 10em;
      height: 10em;
      overflow: hidden;
      border-radius: 50%;
      background-color: white; }
  div.profilePage div.profileImageContainer div.viewAccount {
    font-size: 10px; }

div.profilePage div.croppingImagePage {
  text-align: center;
  margin-top: 50px; }
  div.profilePage div.croppingImagePage div.zoom {
    width: 10px;
    height: 10px;
    background-color: black; }

div.profilePage .ui-panel {
  width: 20em !important; }

div.profilePage .ui-panel-animate.ui-panel-page-content-position-right {
  -webkit-transform: translate3d(-20em, 0, 0) !important;
  -moz-transform: translate3d(-20em, 0, 0) !important;
  transform: translate3d(-20em, 0, 0) !important; }

div.profilePage div.ui-panel-wrapper {
  margin-bottom: 80px; }

/******************** Setting Page ***********************/
div.settingPage div.container {
  padding: 30px 10px 0 10px; }
