/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
  font-family: avenir_bold;
  src: url(font/Avenir-bold.ttf); }

@font-face {
  font-family: avenir;
  src: url(font/Avenir-Book.otf); }

* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #fcfcfc;
  font-family: avenir, Georgia, "Times New Roman", serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow: hidden; }
  body > div {
    overflow-y: hidden !important; }

body.ui-overlay-a {
  background-color: #fcfcfc;
  border-color: #fcfcfc;
  color: black; }

input, textarea {
  font-size: 16px;
  font-family: avenir, Georgia, "Times New Roman", serif; }

/* Portrait layout (default) */
.app {
  position: absolute;
  /*position in the center of the screen*/
  left: 50%;
  top: 30%;
  height: 50px;
  /*text area height*/
  width: 225px;
  /*text area width*/
  text-align: center;
  /* padding:180px 0px 0px 0px;      image height is 200px (bottom 20px are overlapped with text) */
  margin: -115px 0px 0px -112px;
  /*offset vertical: half of image height and text area height*/
  /*offset horizontal: half of text area width*/ }

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px;
    /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */ } }

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center; }

.none {
  display: none; }

.event {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px; }

.event.listening {
  background-color: #333333;
  display: block; }

.event.received {
  background-color: #4B946A;
  display: none; }

.fleft {
  float: left; }

.fright {
  float: right; }

@keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }

@-webkit-keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }

.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite; }

div.navigater {
  height: 35px;
  color: darkgrey;
  font-size: 24px;
  background-color: lightgrey;
  margin-top: 18px; }
  div.navigater > div {
    margin-left: 5px; }

.close {
  clear: both; }

.mainTitle {
  font-weight: bold;
  color: black;
  margin: 20px; }

.mainText {
  color: #2EB8B8; }

.mainEdit label {
  color: #2EB8B8; }

.mainEdit input {
  border: none;
  margin-bottom: 10px;
  border-bottom: solid 1px black;
  padding: 10px 0px 5px 5px;
  width: 100%; }

.mainRadio input {
  border: none;
  margin-bottom: 10px;
  border-bottom: solid 1px black;
  padding: 10px 0px 5px 5px; }

*:focus {
  outline: 0; }

* {
  text-shadow: none !important; }

.disable {
  color: #ABABAB; }

.mainButton {
  font-family: avenir, Georgia, "Times New Roman", serif;
  background-color: #FF7231;
  padding: 5px;
  margin: 15px 0 15px 0;
  border-radius: 5px;
  color: white;
  font-size: 16px; }

.backButton {
  font-family: avenir_bold, Georgia, "Times New Roman", serif;
  color: #4DC1DF;
  font-size: 20px;
  position: absolute;
  top: 30px;
  left: 10px; }

.secondaryButton {
  background-color: white;
  padding: 5px;
  margin: 15px 0 15px 0;
  border-radius: 3px;
  color: black;
  border: 1px solid black; }

.buttons {
  float: left; }

div.inputBox {
  background-color: white;
  border-radius: 5px; }

div.scheduleMenu {
  padding: 10px; }

div.closeBox {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100px;
  height: 150px; }

.ui-overlay-a {
  background-color: white;
  border-color: white;
  color: white;
  text-shadow: none; }

#deviceready {
  text-align: center;
  width: 100%; }

div.mainError {
  color: palevioletred;
  font-size: 14px; }

div.template {
  display: inline-block;
  display: none; }

div.bluetooth div.container {
  color: #2EB8B8; }

.textCenter {
  text-align: center; }

div.wrap {
  border: 2px solid rgba(255, 255, 255, 0.5);
  height: 100px;
  width: 100px;
  border-radius: 50%; }

/*
input::-webkit-input-placeholder {
	color: rgba(0,5,143,.8);
}
*/
input.mainInput {
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  background-color: #FF7231;
  color: white;
  width: 92%;
  margin: 8px 0; }

::-webkit-input-placeholder {
  color: white; }

/** Dailog **/
div.dialog {
  display: none;
  position: absolute;
  top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%; }

div.form div {
  margin-top: 5px;
  margin-bottom: 5px; }

div.previousPage {
  background-color: lightgrey;
  padding: 2px; }
  div.previousPage div.backButton div.arrowLeft {
    position: relative;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #a7a9ac;
    margin: 40px 0 8px 10px; }
    div.previousPage div.backButton div.arrowLeft div.block {
      width: 40px;
      height: 16px;
      top: -8px;
      left: 8px;
      position: absolute;
      background-color: #a7a9ac; }

/************ Index page ***************/
div.indexPage {
  background: #fcfcfc url("../img/background/city-01-overall.png") 0 100% repeat-x;
  background-size: 800px;
  margin-top: 80px;
  color: #FF7231;
  /********* Role Choose ***********/
  /************ Searching **********/ }
  div.indexPage div.pageTitle {
    font-size: 20px;
    font-family: avenir_bold, Georgia, "Times New Roman", serif; }
  div.indexPage div.indexOptions {
    position: relative; }
    div.indexPage div.indexOptions > div {
      padding: 20px 30px;
      text-align: center; }
  div.indexPage div.separateLine {
    color: #999899; }
    div.indexPage div.separateLine div.text {
      position: absolute;
      left: 46.5%; }
    div.indexPage div.separateLine hr {
      width: 25%; }
      div.indexPage div.separateLine hr.leftHr {
        margin: 10px 5px 10px 20px; }
      div.indexPage div.separateLine hr.rightHr {
        margin: 10px 20px 10px 5px;
        float: right; }
  div.indexPage div.pageCover {
    position: absolute;
    top: 0; }
    div.indexPage div.pageCover.rolePage {
      width: 82%; }
  div.indexPage div.signInButtons {
    position: relative;
    margin-top: 35px; }
    div.indexPage div.signInButtons div.facebookButton {
      margin-bottom: -8px; }
    div.indexPage div.signInButtons div.signUpText {
      font-size: 14px; }
  div.indexPage div.signButtons {
    position: relative; }
  div.indexPage div.hideToRight {
    position: relative;
    top: 0;
    left: 150%; }
  div.indexPage div.chooseRole, div.indexPage div.swingWatch, div.indexPage div.purchaseWatch {
    width: 250px; }
    div.indexPage div.chooseRole div.separateLine, div.indexPage div.swingWatch div.separateLine, div.indexPage div.purchaseWatch div.separateLine {
      color: #999899; }
      div.indexPage div.chooseRole div.separateLine hr, div.indexPage div.swingWatch div.separateLine hr, div.indexPage div.purchaseWatch div.separateLine hr {
        width: 23%;
        margin-top: 8px; }
      div.indexPage div.chooseRole div.separateLine div.text, div.indexPage div.swingWatch div.separateLine div.text, div.indexPage div.purchaseWatch div.separateLine div.text {
        font-size: 12px;
        left: 36.5%; }
  div.indexPage div.purchaseWatch {
    top: -150px; }
  div.indexPage div.searchingPage div.hideToRight {
    width: 250px; }
  div.indexPage div.searching {
    margin-top: 50px; }
  div.indexPage div.noFoundDevice {
    margin-top: -50px; }
    div.indexPage div.noFoundDevice div.text {
      color: #999899; }

/************ Login Option Page ***************/
body.ruleOption div.whiteCover {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); }

body.ruleOption img {
  width: 100%; }

div.loginOption {
  margin: 0px 0px 0px -112px;
  top: 39%; }
  div.loginOption div.options div.option {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    position: relative;
    left: 5px;
    top: 5px;
    background-color: white; }
  div.loginOption div.options div.ruleText {
    position: relative;
    top: 39%;
    color: #424242;
    font-size: 18px;
    font-weight: bold; }
  div.loginOption div.options div.wrap.parent {
    float: left; }
  div.loginOption div.options div.wrap.nanny {
    float: right; }

/*************** Header ****************/
#headerBar {
  color: #FF7231;
  border-bottom: 1px solid #979697;
  font-family: avenir_bold, Georgia, "Times New Roman", serif;
  text-align: center;
  padding: 9vw 0 2vw 0;
  font-size: 5vw;
  background-color: white; }

div.header {
  height: 35px;
  background-color: #00aeef;
  padding-top: 20px; }
  div.header div.mainMenuButton {
    position: relative;
    width: 35px;
    padding-top: .9em; }
    div.header div.mainMenuButton div.whiteLine {
      background-color: white;
      width: 100%;
      height: 3px;
      margin-left: 10px;
      margin-bottom: 3px; }

div.placeholder {
  width: 100%;
  text-align: center; }
  div.placeholder.map {
    height: 148vw;
    background-color: gainsboro; }

/*************** Bottom Menu ****************/
div.menu.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  border-top: 1px solid #979697;
  background-color: #fcfcfc; }
  div.menu.bottom > div {
    float: left;
    height: 14vw;
    width: 20%; }
    div.menu.bottom > div.watchPageIcon {
      background: url("../img/menu/navi_icons_map.svg") no-repeat 50%; }
    div.menu.bottom > div.calendarPageIcon {
      background: url("../img/menu/navi_icons_calendar.svg") no-repeat 50%; }
    div.menu.bottom > div.dashboardPageIcon {
      background: url("../img/menu/navi_icons_chart.svg") no-repeat 50%; }
    div.menu.bottom > div.mailPageIcon {
      background: url("../img/menu/navi_icons_mail.svg") no-repeat 50%; }
    div.menu.bottom > div.profilePageIcon {
      background: url("../img/menu/navi_icons_profile.svg") no-repeat 50%; }
    div.menu.bottom > div.watchPageIcon.active {
      background: #fcfcfc url("../img/menu/navi_icons_map_selected.svg") no-repeat 50%; }
    div.menu.bottom > div.calendarPageIcon.active {
      background: #fcfcfc url("../img/menu/navi_icons_calendar_selected.svg") no-repeat 50%; }
    div.menu.bottom > div.dashboardPageIcon.active {
      background: #fcfcfc url("../img/menu/navi_icons_chart_selected.svg") no-repeat 50%; }
    div.menu.bottom > div.mailPageIcon.active {
      background: #fcfcfc url("../img/menu/navi_icons_mail_selected.svg") no-repeat 50%; }
    div.menu.bottom > div.profilePageIcon.active {
      background: #fcfcfc url("../img/menu/navi_icons_profile_selected.svg") no-repeat 50%; }

/*************** Device List ****************/
div.deviceList {
  text-align: center; }
  div.deviceList div.eachDevice {
    padding: 10px;
    margin: 5px;
    font-size: 12px;
    line-height: 20px;
    color: black; }
    div.deviceList div.eachDevice a {
      color: black; }
    div.deviceList div.eachDevice div.deviceIcon {
      height: 60px;
      width: 40px;
      margin: 4px;
      padding-left: 10px; }
    div.deviceList div.eachDevice div.deviceInfo {
      position: relative;
      left: 30px; }
    div.deviceList div.eachDevice div.battery {
      position: relative;
      top: 20px; }

/******************* Bluetooth *************/
div.eachCharacter {
  color: white;
  margin: 10px; }
  div.eachCharacter div.devicedata {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 25px;
    transition: border-color 1.5s;
    margin-top: 3px; }
    div.eachCharacter div.devicedata span {
      position: relative;
      top: 18px; }

.ui-panel-wrapper {
  min-height: 0;
  background-color: white; }

.ui-content {
  padding: 0; }

.ui-panel-inner {
  padding: 0;
  width: 100%; }

.ui-focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.ui-btn-active {
  background-color: #3F3F3F !important;
  border-color: #7C7C7C !important;
  color: #fff !important;
  text-shadow: 0 1px 0 #7C7C7C; }

.ui-page-theme-a {
  text-shadow: none !important;
  background-color: white !important; }

a:link {
  text-shadow: none;
  color: #000000; }

a:visited {
  color: #000000; }

a:hover {
  color: #000000; }

a:active {
  color: #000000; }

#deviceDetail {
  background-color: #58585a;
  color: white; }
  #deviceDetail div.switch {
    text-align: center;
    padding: 15px 0 0 0; }

/***************** Main Menu **************/
div.profileImage {
  display: inline-block; }
  div.profileImage img {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-color: white; }

#menuPanel {
  background-color: #58585a;
  color: white;
  text-shadow: none;
  line-height: 25px; }
  #menuPanel div.menuHeader {
    height: 13em;
    text-align: center; }
    #menuPanel div.menuHeader div.container {
      display: inline-block;
      padding-top: 2em; }
      #menuPanel div.menuHeader div.container div.viewAccount {
        font-size: 10px; }
  #menuPanel div.options {
    padding: 2em;
    line-height: 40px; }
    #menuPanel div.options div.option {
      font-size: 15px; }

/******************* Near By ******************/
div.nearbyPage div.topSlogan {
  padding: 0 20px;
  margin: 15px 0; }
  div.nearbyPage div.topSlogan div.title {
    font-weight: bold; }

div.nearbyPage input.zipcode {
  border: 1px solid grey;
  padding: 10px;
  margin: 10px;
  background-color: transparent !important; }

div.nearbyPage div.input {
  border: 1px solid grey;
  padding: 10px;
  margin: 10px; }

div.nearbyPage div.section {
  padding: 0 1em; }

div.nearbyPage div.mainButton {
  display: inline-block;
  width: 10em; }

div.nearbyPage div.sexSelection fieldset div.ui-controlgroup-controls {
  width: 100%; }
  div.nearbyPage div.sexSelection fieldset div.ui-controlgroup-controls div.ui-radio {
    width: 50%; }

div.nearbyPage .containing-element .ui-slider-switch {
  width: 9em; }

/****************** Nearby search result **********************/
div.scheduleSearchResult div.eachNearby {
  position: relative;
  padding: 15px; }
  div.scheduleSearchResult div.eachNearby div.price {
    text-align: center;
    background-color: lightcoral;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    left: 7px; }
    div.scheduleSearchResult div.eachNearby div.price span {
      color: white;
      top: 7px;
      position: relative;
      font-size: 12px; }
  div.scheduleSearchResult div.eachNearby div.userProfile {
    width: 80px;
    height: 80px;
    background-color: black;
    float: left;
    border-radius: 50%; }
  div.scheduleSearchResult div.eachNearby div.userInfo {
    float: left;
    margin-left: 15px;
    line-height: 25px; }
  div.scheduleSearchResult div.eachNearby div.dateRange {
    position: absolute;
    right: 20px;
    height: 75px;
    color: white; }
    div.scheduleSearchResult div.eachNearby div.dateRange > div {
      border: 1px solid black;
      padding: 3px;
      font-size: 10px; }
    div.scheduleSearchResult div.eachNearby div.dateRange div.startDate {
      background-color: #00aeef; }
    div.scheduleSearchResult div.eachNearby div.dateRange div.endDate {
      bottom: 0;
      position: absolute;
      background-color: #3d81ef; }

div.scheduleSearchResult #userDetail {
  background-color: #f9f9f9; }
  div.scheduleSearchResult #userDetail div.sectionBorder {
    margin-top: 40px;
    box-shadow: 0 8px 5px -2px lightgray; }
  div.scheduleSearchResult #userDetail div.user {
    position: relative;
    padding: 10px; }
    div.scheduleSearchResult #userDetail div.user div.userProfile {
      width: 100px;
      height: 100px;
      background-color: black;
      border-radius: 50%;
      float: left; }
    div.scheduleSearchResult #userDetail div.user div.userInfo {
      float: left;
      margin-left: 8px;
      line-height: 24px; }
    div.scheduleSearchResult #userDetail div.user div.price {
      text-align: center;
      background-color: lightcoral;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      position: absolute;
      top: 8px;
      left: 3px; }
      div.scheduleSearchResult #userDetail div.user div.price span {
        color: white;
        top: 7px;
        position: relative;
        font-size: 12px; }
    div.scheduleSearchResult #userDetail div.user div.note {
      word-wrap: break-word; }
    div.scheduleSearchResult #userDetail div.user div.chat {
      margin-top: 20px; }
      div.scheduleSearchResult #userDetail div.user div.chat div.chatBox {
        border: 1px solid #d3d3d3;
        width: 100%;
        height: 100px;
        overflow-y: auto;
        background-color: white;
        padding: 5px 0; }
        div.scheduleSearchResult #userDetail div.user div.chat div.chatBox div {
          margin: 3px; }
          div.scheduleSearchResult #userDetail div.user div.chat div.chatBox div span {
            padding: 4px;
            border-radius: 3px; }
          div.scheduleSearchResult #userDetail div.user div.chat div.chatBox div.alignRight {
            text-align: right; }
            div.scheduleSearchResult #userDetail div.user div.chat div.chatBox div.alignRight span {
              background-color: #00d4b4; }
          div.scheduleSearchResult #userDetail div.user div.chat div.chatBox div.alignLeft span {
            background-color: #61abd4; }
      div.scheduleSearchResult #userDetail div.user div.chat div.submit {
        text-align: center; }

/******************** Feedback ***********************/
div.feedbackPage div.container {
  margin-top: 10px;
  padding: 10px; }
  div.feedbackPage div.container div.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0; }
  div.feedbackPage div.container hr {
    margin-top: 20px;
    width: 90%; }
  div.feedbackPage div.container div.mainButton {
    display: inline-block; }

/******************** UpdateProfile Page ***********************/
div.profilePage label {
  display: inline-block; }

div.profilePage div.container {
  padding: 10px; }

div.profilePage div.mainRadio {
  text-align: center; }

div.profilePage div.profileImageContainer {
  text-align: center;
  width: 100%; }
  div.profilePage div.profileImageContainer div.profileImage {
    display: inline-block; }
    div.profilePage div.profileImageContainer div.profileImage img {
      width: 10em;
      height: 10em;
      overflow: hidden;
      border-radius: 50%;
      background-color: white; }
  div.profilePage div.profileImageContainer div.viewAccount {
    font-size: 10px; }

div.profilePage div.croppingImagePage {
  text-align: center;
  margin-top: 50px; }
  div.profilePage div.croppingImagePage div.zoom {
    width: 10px;
    height: 10px;
    background-color: black; }

div.profilePage .ui-panel {
  width: 20em !important; }

div.profilePage .ui-panel-animate.ui-panel-page-content-position-right {
  -webkit-transform: translate3d(-20em, 0, 0) !important;
  -moz-transform: translate3d(-20em, 0, 0) !important;
  transform: translate3d(-20em, 0, 0) !important; }

div.profilePage div.ui-panel-wrapper {
  margin-bottom: 80px; }

/******************** Setting Page ***********************/
div.settingPage div.container {
  padding: 30px 10px 0 10px; }

/******************** Dashboard Page ***********************/
div.dashboardPage {
  overflow: hidden;
  height: 100%;
  min-height: 0;
  /***************** Sync *****************/ }
  div.dashboardPage div.title, div.dashboardPage div.status {
    font-family: avenir_bold, Georgia, "Times New Roman", serif; }
  div.dashboardPage div.container {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 5vw; }
    div.dashboardPage div.container div.content {
      position: absolute; }
    div.dashboardPage div.container.bad {
      background: url("../img/dashboard/dashboard-bg-bad.png") no-repeat;
      background-size: 100% 100%;
      color: #7573C0; }
      div.dashboardPage div.container.bad div.dashboardIcon {
        background: url("../img/dashboard/monster-purple.png") no-repeat 8vw;
        background-size: 60vw;
        width: 100%;
        height: 60vw;
        display: inline-block; }
      div.dashboardPage div.container.bad div.uvButton {
        background: url("../img/dashboard/uv_button.png") no-repeat 2.7vw;
        background-size: 3.3em; }
      div.dashboardPage div.container.bad div.activityButton {
        background: url("../img/dashboard/activity_button.png") no-repeat 2.7vw;
        background-size: 3.3em; }
      div.dashboardPage div.container.bad div.weatherButton {
        background: url("../img/dashboard/sunglass_button.png") no-repeat 2.7vw;
        background-size: 3.3em; }
    div.dashboardPage div.container.soso {
      background: url("../img/dashboard/dashboard-bg-soso.png") no-repeat;
      background-size: 100% 100%;
      color: #00C4B3; }
      div.dashboardPage div.container.soso div.dashboardIcon {
        background: url("../img/dashboard/monster-bluegreen.png") no-repeat 8vw;
        background-size: 60vw;
        width: 100%;
        height: 60vw;
        display: inline-block; }
      div.dashboardPage div.container.soso div.uvButton {
        background: url("../img/dashboard/blue_uv_button.png") no-repeat 2.7vw;
        background-size: 3.3em; }
      div.dashboardPage div.container.soso div.activityButton {
        background: url("../img/dashboard/blue_activity_button.png") no-repeat 2.7vw;
        background-size: 3.3em; }
      div.dashboardPage div.container.soso div.weatherButton {
        background: url("../img/dashboard/blue_sunglass_button.png") no-repeat 2.7vw;
        background-size: 3.3em; }
    div.dashboardPage div.container.excellent {
      background: url("../img/dashboard/dashboard-bg-excellent.png") no-repeat;
      background-size: 100% 100%;
      color: #FF7231; }
      div.dashboardPage div.container.excellent div.dashboardIcon {
        background: url("../img/dashboard/monster-yellow.png") no-repeat;
        background-position-y: -5vw;
        background-size: 57vw;
        width: 55vw;
        height: 60vw;
        display: inline-block; }
      div.dashboardPage div.container.excellent div.uvButton {
        background: url("../img/dashboard/orange_uv_button.png") no-repeat 2.7vw;
        background-size: 10vw; }
      div.dashboardPage div.container.excellent div.activityButton {
        background: url("../img/dashboard/orange_activity_button.png") no-repeat 2.7vw;
        background-size: 10vw; }
      div.dashboardPage div.container.excellent div.weatherButton {
        background: url("../img/dashboard/orange_weather_button.png") no-repeat 2.7vw;
        background-size: 10vw; }
  div.dashboardPage #dashboard {
    width: 80%;
    display: inline-block; }
    div.dashboardPage #dashboard div.title, div.dashboardPage #dashboard div.status {
      font-size: 9vw; }
  div.dashboardPage div.dashboardButtons {
    position: absolute;
    bottom: 40vw; }
    div.dashboardPage div.dashboardButtons > div {
      width: 15vw;
      height: 15vw;
      background-color: white;
      border-radius: 50%;
      float: left;
      margin-left: 5vw;
      margin-right: 5vw; }
      div.dashboardPage div.dashboardButtons > div > div {
        width: 15vw;
        height: 15vw; }
  div.dashboardPage div.syncTemplate .buttons {
    float: none; }
    div.dashboardPage div.syncTemplate .buttons div.mainButton {
      font-family: avenir_bold, Georgia, "Times New Roman", serif;
      margin: 5vw 8vw;
      font-size: 5vw; }
  div.dashboardPage div.syncTemplate div.deviceIcon {
    width: 30vw;
    height: 30vw;
    background-color: black;
    display: inline-block;
    border-radius: 50%;
    border: 1vw solid white; }
  div.dashboardPage div.syncTemplate div.name {
    font-size: 7vw;
    margin: 2vw 0 5vw 0;
    color: #00C4B3; }
  div.dashboardPage div.syncTemplate div.title {
    font-size: 7vw;
    margin-bottom: 5vw; }
  div.dashboardPage div.searchTemplate div.circle {
    position: relative;
    border: 3vw solid white;
    border-radius: 50%;
    width: 60vw;
    height: 60vw;
    margin-top: 7vw;
    z-index: 2;
    display: inline-block; }
    div.dashboardPage div.searchTemplate div.circle div.searchInfo {
      font-family: avenir_bold, Georgia, "Times New Roman", serif;
      color: #FF7231;
      font-size: 10vw;
      margin-top: 12vw;
      padding: 0 3vw; }
    div.dashboardPage div.searchTemplate div.circle div.background {
      padding: 0 5vw;
      height: 45vw;
      top: -11vw;
      position: relative;
      z-index: -1;
      transition: all 0.8s; }
  div.dashboardPage div.searchTemplate div.mainButton {
    font-family: avenir_bold, Georgia, "Times New Roman", serif;
    margin: 5vw 8vw;
    font-size: 6vw; }

/******************** Weather Page ***********************/
div.weatherPage {
  color: #FF7231; }
  div.weatherPage div.description {
    font-family: avenir, Georgia, "Times New Roman", serif;
    position: relative;
    top: 18vw; }
  div.weatherPage div.weatherOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent url("../img/dashboard/dashboard-bg-weather-01.png") 0 -3vw no-repeat;
    background-size: 100%;
    z-index: 1; }
  div.weatherPage div.backgroundOverlay {
    position: absolute;
    width: 100%;
    height: 50vw;
    background: transparent url("../img/background/city-01-overall.png") 0 0 no-repeat;
    background-size: 500px;
    z-index: 2;
    bottom: 5vw; }
  div.weatherPage div.container {
    text-align: center; }
    div.weatherPage div.container div.location {
      color: #999899;
      margin-top: 5vw;
      font-size: 6vw; }
    div.weatherPage div.container div.circle {
      position: absolute;
      border: 3vw solid #FF7231;
      border-radius: 50%;
      width: 60vw;
      height: 60vw;
      color: #FF7231;
      font-size: 7vw;
      margin-top: 5vw;
      font-family: avenir_bold, Georgia, "Times New Roman", serif;
      left: 18vw;
      z-index: 2; }
      div.weatherPage div.container div.circle div.info {
        margin-top: 17vw; }
        div.weatherPage div.container div.circle div.info div.title:after {
          content: 'Temperature'; }
        div.weatherPage div.container div.circle div.info div.temperature {
          font-size: 16vw; }

/******************** Weather Page - Humidity ***********************/
div.weatherPage.humidity div.weatherOverlay {
  background: transparent url("../img/dashboard/dashboard-bg-weather-02.png") -1vw -5vw no-repeat;
  background-size: 100%; }

div.weatherPage.humidity div.container div.circle {
  border: 3vw solid #4DC1DF;
  color: #4DC1DF; }
  div.weatherPage.humidity div.container div.circle div.info div.title:after {
    content: 'Humidity'; }

/******************** UV index ***********************/
div.uvPage {
  text-align: center; }
  div.uvPage div.uvOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent url("../img/dashboard/dashboard-bg-UV-01.png") 0 -3vw no-repeat;
    background-size: 100%;
    z-index: 1; }
  div.uvPage div.backgroundOverlay {
    position: absolute;
    width: 100%;
    height: 50vw;
    background: transparent url("../img/background/city-01-overall.png") 0 0 no-repeat;
    background-size: 500px;
    z-index: 2;
    bottom: 5vw; }
  div.uvPage div.container {
    text-align: center;
    margin-top: 7vw; }
    div.uvPage div.container div.circle {
      position: absolute;
      border: 3vw solid transparent;
      border-radius: 50%;
      width: 30vw;
      height: 30vw;
      font-size: 7vw;
      margin-top: 5vw;
      font-family: avenir_bold, Georgia, "Times New Roman", serif;
      left: 31vw;
      z-index: 2; }
      div.uvPage div.container div.circle div.uvIndex {
        font-size: 15vw;
        position: relative;
        top: 5vw; }
  div.uvPage div.text {
    font-family: avenir_bold, Georgia, "Times New Roman", serif;
    font-size: 5vw;
    position: relative;
    top: 47vw;
    z-index: 2;
    width: 75vw;
    display: inline-block; }

/******************** Activity index ***********************/
div.activityPage {
  overflow-y: hidden !important; }
  div.activityPage div.activityOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent url("../img/dashboard/dashboard-bg-bg-activity-02.png") 0 -3vw no-repeat;
    background-size: 100%;
    z-index: 1; }
  div.activityPage div.backgroundOverlay {
    position: absolute;
    width: 100%;
    height: 50vw;
    background: transparent url("../img/background/city-01-overall.png") 0 0 no-repeat;
    background-size: 500px;
    z-index: 2;
    bottom: 5vw; }
  div.activityPage div.container {
    font-family: avenir_bold, Georgia, "Times New Roman", serif;
    position: absolute;
    z-index: 2;
    width: 100%;
    color: #1fc4b4;
    text-align: center;
    margin-top: 7vw; }
    div.activityPage div.container div.title {
      font-size: 7vw; }
    div.activityPage div.container div.bars {
      text-align: left;
      color: white;
      margin-top: 10vw; }
      div.activityPage div.container div.bars > div {
        position: relative;
        padding: 2vw;
        margin: 5vw;
        background-color: #1fc4b4;
        transition: all 1s; }
        div.activityPage div.container div.bars > div > span {
          position: absolute;
          top: 2vw;
          left: 45vw; }
  div.activityPage div.bottomButtons {
    position: absolute;
    bottom: 18vw;
    z-index: 3;
    width: 100%;
    text-align: center; }
    div.activityPage div.bottomButtons div.center {
      display: inline-block; }
      div.activityPage div.bottomButtons div.center > div {
        margin: 0 5vw;
        float: left;
        background-color: white;
        position: relative; }
        div.activityPage div.bottomButtons div.center > div > div {
          background-color: white;
          color: #1fc4b4;
          position: relative;
          padding: 0.8vw 9vw;
          border-radius: 5px;
          transition: all 1s; }
          div.activityPage div.bottomButtons div.center > div > div.active {
            background-color: #1fc4b4;
            color: white; }
  div.activityPage #activityStatus {
    text-align: right; }
    div.activityPage #activityStatus > div {
      float: right;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      text-align: center;
      color: #00C4B3;
      background-color: #999899;
      margin: 4px; }
      div.activityPage #activityStatus > div > span {
        position: relative;
        top: 6px; }
      div.activityPage #activityStatus > div.active {
        background-color: #00C4B3;
        color: white; }

div.addButton {
  position: absolute;
  width: 6vw;
  height: 6vw;
  right: 4vw;
  top: 8vw; }
  div.addButton > div {
    background-color: #4DC1DF;
    position: relative; }
  div.addButton div.line {
    width: 100%;
    height: 1vw;
    top: 3.5vw; }
  div.addButton div.pipe {
    height: 100%;
    width: 1vw;
    left: 2.5vw; }

div.backButton {
  position: absolute;
  width: 6vw;
  height: 6vw;
  left: 4vw;
  top: 8vw; }
  div.backButton > div {
    color: #4DC1DF;
    position: relative;
    font-size: 7vw; }

/******************** Calendar ***********************/
div.calendarPage {
  overflow: hidden !important;
  background-color: #cdeef6 !important; }
  div.calendarPage div.calendarOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #cdeef6;
    z-index: 0; }
  div.calendarPage div.container {
    z-index: 2;
    position: relative; }
  div.calendarPage div.backgroundOverlay {
    position: absolute;
    width: 100%;
    height: 50vw;
    background: transparent url("../img/background/city-01-overall.png") 0 0 no-repeat;
    background-size: 500px;
    z-index: 2;
    bottom: 7vw; }
  div.calendarPage .arrow-right {
    width: 0;
    height: 0;
    border-top: 3vw solid transparent;
    border-bottom: 3vw solid transparent;
    border-left: 3vw solid #6d858b; }
  div.calendarPage .arrow-left {
    width: 0;
    height: 0;
    border-top: 3vw solid transparent;
    border-bottom: 3vw solid transparent;
    border-right: 3vw solid #6d858b; }
  div.calendarPage #calendar {
    text-align: center;
    padding-top: 10vw; }
    div.calendarPage #calendar div.calendarHeader {
      width: 100%; }
      div.calendarPage #calendar div.calendarHeader > div {
        display: inline-block; }
        div.calendarPage #calendar div.calendarHeader > div > div {
          margin: 0 5vw;
          padding: 0 1vw; }
        div.calendarPage #calendar div.calendarHeader > div .monthYear, div.calendarPage #calendar div.calendarHeader > div .dayMonth {
          color: #fd713a;
          font-size: 5vw;
          font-family: avenir_bold, Georgia, "Times New Roman", serif; }
    div.calendarPage #calendar div.calendarContent {
      margin-top: 10vw; }
      div.calendarPage #calendar div.calendarContent div.week {
        display: inline-flex;
        font-size: 4vw;
        width: 100%; }
        div.calendarPage #calendar div.calendarContent div.week > div {
          text-align: center;
          width: inherit; }
          div.calendarPage #calendar div.calendarContent div.week > div > div {
            width: 5vw;
            height: 5vw;
            border-radius: 5vw;
            padding: 1vw;
            display: inline-block; }
            div.calendarPage #calendar div.calendarContent div.week > div > div.active {
              background-color: #FF7231;
              color: white; }
      div.calendarPage #calendar div.calendarContent div.mainEvent div.eventCircle {
        height: 55vw;
        width: 55vw;
        display: inline-block;
        border-radius: 55vw;
        margin-top: 5vw;
        border: 2vw solid white; }
      div.calendarPage #calendar div.calendarContent div.mainEvent div.eventContent {
        color: #FF7231;
        margin-top: 15vw; }
        div.calendarPage #calendar div.calendarContent div.mainEvent div.eventContent div.eventTime {
          font-family: avenir_bold, Georgia, "Times New Roman", serif;
          font-size: 10vw; }
        div.calendarPage #calendar div.calendarContent div.mainEvent div.eventContent div.eventName {
          font-size: 5vw; }
      div.calendarPage #calendar div.calendarContent div.mainEvent div.seeFullButton {
        width: 50vw;
        display: inline-block;
        margin-top: 10vw; }
      div.calendarPage #calendar div.calendarContent div.eventList {
        text-align: left;
        margin-top: 2vw;
        color: white;
        font-family: avenir_bold, Georgia, "Times New Roman", serif; }
        div.calendarPage #calendar div.calendarContent div.eventList div.eachEvent {
          padding: 5vw 0; }
          div.calendarPage #calendar div.calendarContent div.eventList div.eachEvent span {
            position: relative;
            left: 8vw; }
          div.calendarPage #calendar div.calendarContent div.eventList div.eachEvent span.eventName {
            left: 10vw; }
          div.calendarPage #calendar div.calendarContent div.eventList div.eachEvent div.description {
            position: relative;
            margin: 1vw 8vw; }
      div.calendarPage #calendar div.calendarContent div.days {
        display: inline-block;
        margin-top: 7vw; }
        div.calendarPage #calendar div.calendarContent div.days > div {
          float: left;
          font-size: 3.5vw;
          width: 14.2vw;
          height: 11vw;
          position: relative; }
          div.calendarPage #calendar div.calendarContent div.days > div.today span {
            color: #fd713a;
            font-size: 5vw;
            top: -1vw;
            position: relative; }
          div.calendarPage #calendar div.calendarContent div.days > div span.event {
            position: absolute;
            height: 1.5vw;
            width: 1.5vw;
            padding: 0;
            margin: 0;
            top: 4.5vw;
            left: 5vw; }
  div.calendarPage div.addCalendar div.fields {
    padding: 4vw 0;
    margin: 0 4vw;
    text-align: center; }
    div.calendarPage div.addCalendar div.fields > div.input {
      transition: height .2s;
      border: none;
      color: #c0bfc1;
      background-color: white;
      text-align: left;
      font-size: 5vw;
      padding: 1.5vw;
      border-radius: 5px;
      width: 92%;
      margin-top: 1.5vw;
      margin-bottom: 1.5vw;
      display: inline-block;
      height: 6vw;
      overflow-y: hidden; }
      div.calendarPage div.addCalendar div.fields > div.input.open {
        height: 15vw; }
      div.calendarPage div.addCalendar div.fields > div.input > span {
        position: absolute;
        right: 8vw;
        margin: 0 !important; }
    div.calendarPage div.addCalendar div.fields div.selection, div.calendarPage div.addCalendar div.fields div.colorSelection {
      font-size: 5vw; }
      div.calendarPage div.addCalendar div.fields div.selection > span, div.calendarPage div.addCalendar div.fields div.colorSelection > span {
        display: inline-block;
        width: 6vw;
        height: 6vw;
        border-radius: 6vw;
        margin: 3vw 1vw 1vw 2vw; }
    div.calendarPage div.addCalendar div.fields > input {
      border: none;
      margin: 1.5vw 0;
      width: 90%;
      color: black;
      font-size: 5vw; }
      div.calendarPage div.addCalendar div.fields > input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #c0bfc1; }
      div.calendarPage div.addCalendar div.fields > input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #c0bfc1;
        opacity: 1; }
      div.calendarPage div.addCalendar div.fields > input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #c0bfc1;
        opacity: 1; }
      div.calendarPage div.addCalendar div.fields > input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #c0bfc1; }
    div.calendarPage div.addCalendar div.fields > textarea {
      border: none;
      width: 94%;
      height: 25vw;
      margin-top: 1.5vw;
      font-size: 5vw; }
      div.calendarPage div.addCalendar div.fields > textarea::-webkit-input-placeholder {
        color: #c0bfc1; }
      div.calendarPage div.addCalendar div.fields > textarea:-moz-placeholder {
        color: #c0bfc1; }
      div.calendarPage div.addCalendar div.fields > textarea:-ms-input-placeholder {
        color: #c0bfc1; }
  div.calendarPage div.addCalendar div.button {
    text-align: center; }
    div.calendarPage div.addCalendar div.button div.mainButton {
      display: inline-block;
      width: 30vw;
      text-align: center; }
  div.calendarPage .yellow {
    background-color: #fad04e; }
  div.calendarPage .purple {
    background-color: mediumpurple; }
  div.calendarPage .green {
    background-color: mediumspringgreen; }
  div.calendarPage .pink {
    background-color: deeppink; }
  div.calendarPage .orange {
    background-color: orangered; }
  div.calendarPage .grey {
    background-color: grey; }

/******************** My Watch ***********************/
div.watchPage div.title {
  color: #FF7231;
  font-size: 7.4vw;
  font-family: avenir_bold, Georgia, "Times New Roman", serif;
  text-align: center;
  padding: 3vw 10vw; }

div.watchPage div.container {
  z-index: 2;
  position: relative; }

div.watchPage div.watchOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent url("../img/dashboard/dashboard-bg-bg-activity-02.png") 0 -3vw no-repeat;
  background-size: 100%;
  z-index: 1; }

div.watchPage div.backgroundOverlay {
  position: absolute;
  width: 100%;
  height: 50vw;
  background: transparent url("../img/background/city-01-overall.png") 0 0 no-repeat;
  background-size: 500px;
  z-index: 2;
  bottom: 7vw; }

div.watchPage div.findNow {
  text-align: center; }
  div.watchPage div.findNow div {
    display: inline-block;
    margin-top: 3.7vw;
    transition: border 0.5s ease-out; }
    div.watchPage div.findNow div.circle {
      border: 0.8vw solid white; }
  div.watchPage div.findNow > div.circle {
    border-width: 0.8vw;
    border-radius: 60vw;
    width: 60vw;
    height: 60vw; }
    div.watchPage div.findNow > div.circle > div {
      border-width: 0.8vw;
      border-radius: 50vw;
      width: 50vw;
      height: 50vw; }
      div.watchPage div.findNow > div.circle > div > div {
        border-width: 1.5vw;
        border-radius: 40vw;
        width: 40vw;
        height: 40vw; }
        div.watchPage div.findNow > div.circle > div > div > div {
          border-width: 1.5vw;
          border-radius: 30vw;
          width: 30vw;
          height: 30vw; }
          div.watchPage div.findNow > div.circle > div > div > div > div {
            border: 1.5vw solid white;
            border-radius: 30vw;
            width: 20vw;
            height: 20vw;
            background-color: #FF7231;
            font-family: avenir_bold, Georgia, "Times New Roman", serif;
            font-size: 5vw;
            color: white; }
            div.watchPage div.findNow > div.circle > div > div > div > div > span {
              position: relative;
              top: 3.5vw; }

div.watchPage div.battery {
  text-align: center; }
  div.watchPage div.battery div {
    display: inline-block;
    margin-top: 3.7vw; }
    div.watchPage div.battery div.circle {
      border: 3vw solid #FF7231;
      border-radius: 60vw;
      width: 65vw;
      height: 65vw; }
    div.watchPage div.battery div div.title {
      font-size: 10vw;
      padding: 0;
      margin-top: 10vw;
      margin-left: 0; }
  div.watchPage div.battery div.batteryImage {
    background: url("../img/batteryIcon.png") no-repeat;
    width: 42.1vw;
    height: 31vw;
    background-size: 42vw;
    position: relative;
    top: 7.7vw; }

div.watchPage div.pageDot {
  position: relative;
  z-index: 2;
  display: inline-block; }
  div.watchPage div.pageDot > div {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: white;
    transition: background-color .5s;
    float: left;
    margin: 5vw 2vw 1vw 2vw; }
    div.watchPage div.pageDot > div.active {
      background-color: #999899; }
